{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container" align="center">
        <h1>Cryptocurrency Prices</h1>
        <img src="{% static "img/index_page_pic.jpg" %}"
             width="auto" height="300" alt="">
        <div class="conversion">
            <p><span style="font-weight: Bold">Cryptocurrency – meaning and definition:</span>
                <br>
                Cryptocurrency, sometimes called crypto-currency or crypto, is any form of currency that exists
                digitally or virtually and uses cryptography to secure transactions. Cryptocurrencies don't have a
                central issuing or regulating authority, instead using a decentralized system to record transactions and
                issue new units.</p>

            <hr>

            <p style="font-weight: bold">This website is usefull for converting and inquring crypto prices.
                <br>
                Note: I used <span style="color: red;">"https://www.coingecko.com/"</span> apis</p>
        </div>
    </div>
{% endblock %}