{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container" align="center">
        <h1>Cryptocurrency Prices</h1>
        <img src="{% static "img/laravel.png" %}" width="300" height="300" alt="">
        <br><br>
        <div class="conversion">
            <form id="priceForm" method="get">
                <select id="currency" class="form-select" style="width: auto">
                    {% for currency in cryptos %}
                        <option value="{{ currency.name }}">{{ currency.name }}</option>
                    {% endfor %}
                    <!-- Add more cryptocurrency options here -->
                </select>
                <br>
                <p style="font-weight: bold">{{ time }}</p>
                <input type="text" value="{{ price }}" disabled id="crypto_price" class="form-control" style="width: auto">
                <br>
                <button class="btn-danger btn-lg" type="submit" onclick="submitForm()">Submit</button>
            </form>
            <br><br>
        </div>
    </div>
    <script>
        function submitForm() {
            let selectedCurrency = document.getElementById('currency').value;
            let form = document.getElementById('priceForm');
            form.action = "{% url "price_page:price" %}?currency=" + selectedCurrency;
            form.submit();
        }
    </script>
{% endblock %}